<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  </head> 

  <body>
    <nav>
      <img src="{% static 'logo.png' %}" alt="BoilerTradeCo Logo" style="height: 150px; width: 150px">
      <h1 style="text-align: center; margin-top: -50px;"> Welcome to the BoilerTradeCo Homepage!</h1> 
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Bookmarks</a></li>
            <li><a href="">Sales</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    <!-- can change this later, when project directory is finished (its just an identifier for now) -->
    {% if user.is_authenticated %}
    <h4>You're successfully logged in.</h4>
    <h5> Vinni and Isha add your html to this page. </h5>
    <button type="submit"> <a href="/">Sign Out</a></button>
    <button type="submit"> <a href="/profile">Profile</a></button>
    {% else %}
    <h4>You're not logged in.</h4>
    <button type="submit"> <a href="/signup">Sign Up</a></button>
    <button type="submit"> <a href="/signin">Sign In</a></button>
    {% endif %}
  

    <script src="" async defer></script>

  </body>
</html>