<!-- {% block title %}{{ product.name }}{% endblock %} -->

{% block content %}
<style>
    .container {
        display: flex;
        justify-content: center;
        margin-top: 25vh;
    }
    .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff9c4; 
        padding: 5%; 
        border-radius: 5%; 
    }

    .col-span-3 {
        margin-right: 20px; 
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .product-info {
        width: 100%; 
    }

    @media (max-width: 768px) {
        .grid {
            flex-direction: column; /* Stack items vertically on small screens */
        }

        .col-span-3 {
            margin-right: 0; /* Reset margin for smaller screens */
            margin-bottom: 20px; /* Add margin at bottom for better spacing */
        }
    }

</style>

<div class="container">
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span-3">
            <h2>{{ product.name }}</h2>
            <img src="{{ product.image.url }}" alt="product_image" class="rounded-xl">
        </div>
    
        <div class="col-span-2">
            <p>Price: ${{ product.price }}</p>
            <p>Quality: {{ product.quality_tag }}</p>
            <p>Category: {{ product.category_tag }}</p>
            <p>Seller: {{ product.seller_email }}</p>
            <p>Date Posted: {{ product.date_posted }}</p>
        </div>
    </div>
</div>



{% endblock %}

{% if request.user == product.seller_email %}
    <div class="mt-6 p-6 bg-white rounded-xl">
        <p>This is your item!</p>
        <a href="{% url 'delete' id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
    </div>
    {% else %}
        <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
    {% endif %}