{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<style>
    img {
        height: 50%;
        width: auto;
    }
</style>
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ product.image.url }}" alt="product_image" class="rounded-xl">
    </div>
</div>

{% endblock %}

{% if request.user == product.seller_email %}
    <div class="mt-6 p-6 bg-white rounded-xl">
        <p>This is your item!</p>
        <a href="{% url 'delete' id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
    </div>
    {% else %}
        <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
    {% endif %}