<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'view_profile.css' %}">
  </head>
  <body>
    <nav>
      <img src="{% static 'logo.png' %}" alt="BoilerTradeCo Logo" >
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="">Bookmarks</a></li>
            <li><a href="">Sales</a></li>
            <li><a href="/profile" class="active">Profile</a></li>
        </ul>
    </nav>

    <div class="whole-profile">
      <div class="profile-container">
        <div class="profile-image">
          <img class="circle account-img"src="{{ img }}" alt="Profile Image">
        </div>
        <div class="profiledetails">
          <h2> {{ firstname }}  {{ lastname }}</h2>
          <h3> {{ email }}</h3>
          <button>
          <img src="{% static 'gearsicon.png' %}"  alt="Edit Icon" class="icon"> <a href="/settings/"> edit! </a>
          </button>
          <!-- <button class="system-settings"> <a href="/settings/">edit!</a></button> -->
        </div>
      </div>

    <br>
    <h2 style="text-decoration: underline;">Ratings</h2> 
    <br>
    <h2 style="text-decoration: underline;">My Listings</h2>
    </div>
    <script src="" async defer></script>
  </body>
</html>