<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'view_profile.css' %}">
  </head>
  <body>
    <nav>
      <img src="{% static 'logo.png' %}" alt="BoilerTradeCo Logo" >
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="">Bookmarks</a></li>
            <li><a href="">Sales</a></li>
            <li><a href="/profile" class="active">Profile</a></li>
        </ul>
    </nav>

    <div class="whole-profile">
      <div class="profile-container">
        <div class="profile-image">
          <img class="circle account-img"src="{{ img }}" alt="Profile Image">
        </div>
        <div class="profiledetails">
          <h2> {{ firstname }}  {{ lastname }}</h2>
          <h3> {{ email }}</h3>
          <button>
          <img src="{% static 'gearsicon.png' %}"  alt="Edit Icon" class="icon"> <a href="/settings/"> edit! </a>
          </button>
          <!-- <button class="system-settings"> <a href="/settings/">edit!</a></button> -->
        </div>
      </div>
    
    <br>
    <h2 style="text-decoration: underline;">Ratings</h2> 
    <br>
    <h2 style="text-decoration: underline;">My Listings</h2>
    <br>
    <form id="deleteAccountForm" method="post" action="">
      {% csrf_token %}
      <button type="button" onclick="confirmDelete()">Delete Account</button>
      <input type="hidden" name="delete_action" value="true">
  </form>
  
  <script>
      function confirmDelete() {
          var confirmation = confirm("Are you sure you want to delete your account?");
          if (confirmation) {
            alert("Account deletion successful.");
            document.getElementById('deleteAccountForm').method = 'post';
            document.getElementById('deleteAccountForm').submit();
          } else {
              alert("Account deletion canceled.");
              // Additional code can be added for handling the cancellation.
          }
      }
  </script> 
  </div>
  </script>
  <script src="" async defer></script>
  </body>
</html>