<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Complete</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'reset_pass.css' %}">
  </head>

  <body>

    {% block content %}
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'logo.png' %}" alt="BoilerTradeCo Logo" class="logo">
        </div>
        <div class="content-box">
            <h3>Password reset complete</h3>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <a href="/signin" class="login-link">Log In</a>
        </div>
    </div>
    {% endblock content %}

  </body>

</html>
