<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'signup_style.css'%}">

    <style>
        #popup-message {
            display: none;
            color: red;
            text-align: center;
            margin-bottom: 10px;
        }
    </style>

  </head>
  <body>


    <div class="container">
        <div class = "side-panel">
            <img src="{% static 'logo.png' %}" alt="BoilerTradeCo Logo">
            <div class="header">
                <h3> BoilerTradeCo Sign In </h3>
                <br>
            </div>
        </div>
    </div>
    <div class="main-panel">

        <!-- Display the error message at the top of the form -->
        <div id="popup-message">
            <p id="popup-text"></p>
            <!-- {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}  -->
        </div>

        <form action="" method="post">
           <br>
            {% csrf_token %}

            <label for="Purdue Email">Purdue Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your Purdue Email" Required>
            <br>

            <label for="Password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" Required>
            <br>

            <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
    <script src="" async defer></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Check if the pop-up message is present in the URL parameters
            const urlParams = new URLSearchParams(window.location.search);
            const errorMessage = urlParams.get('error_message');

            // If there's an error message, display the pop-up
            if (errorMessage) {
                document.getElementById('popup-text').innerText = errorMessage;
                document.getElementById('popup-message').style.display = 'block';
            
                // Clear the error message after a delay (e.g., 5000 milliseconds or 5 seconds)
                /*
                setTimeout(function () {
                    document.getElementById('popup-text').innerText = '';
                    document.getElementById('popup-message').style.display = 'none';
                }, 5000);
                */
            }

        });
    </script>

  </body>
</html>