{% extends 'authentication/home.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Directory</title>
</head>
<body>
    <h1>Product Directory</h1>
    {% if products|length == 0 %}
        <!-- <h3 style="text-align: center;">There are currently no products in the product directory!</h3> -->
    {% else %}
        <ul>
            {% for product in products %}
                <div>
                    <a href="#">
                    <div>
                        <img src="{{ product.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ product.name }}</h2>
                        <p class="text-gray-500">{{ product.price }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>